<%- include('../partial/head')%>
<%- include('../partial/header')%>

<h1 style="text-align: center;">C'est un Match ! <i class="fas fa-grin-hearts" style="color: rgb(255, 0, 100);"></i></h1>
<div id="matchTable" style="margin-bottom: 30px">
    <table class="table" style="text-align: center">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
</div>

<h1 style="text-align: center"><i class="fas fa-history"></i>  Votre historique personnel</h1>

<div id="tablesHistory" style="display: grid;">

    <a class="btn hashtag" style="margin-bottom: 10px; outline: none; cursor: pointer" data-toggle="collapse" href="#dropdownVisitMine"  aria-expanded="false" aria-controls="dropdownVisitMine">Ils ont visité votre profil <i class="fas fa-arrow-circle-down"></i></a>
    <div class="collapse" id="dropdownVisitMine">
            <table class="table" style="text-align: center">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>

    <a class="btn hashtag" style="margin-bottom: 10px;" data-toggle="collapse" href="#dropdownVisitThem"  aria-expanded="false" aria-controls="dropdownVisitThem">Vous avez visité leur profil <i class="fas fa-arrow-circle-down"></i></a>
    <div class="collapse" id="dropdownVisitThem">
        <table class="table" style="text-align: center">
            <tbody>
                <%for (var i = 0; i < myVisits.length; i++) {%>
                <tr>
                    <td style="vertical-align: middle"><i class="fas fa-eye"></i></td>
                <td style="vertical-align: middle">Vous avez visité le profil de <a href="user/<%=myVisits[i].visited_id%>"><%=myVisits[i].username%></a></td>
                    <td style="vertical-align: middle"><img src="<%=myVisits[i].profil%>" style="max-height: 50px; max-width: 50px"></td>
                <td style="vertical-align: middle">le <% const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }; %>
                        <%=myVisits[i].visited_at.toLocaleDateString('fr-FR', options)%></td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>

    <a class="btn hashtag" style="margin-bottom: 10px;" data-toggle="collapse" href="#dropdownLikeMe"  aria-expanded="false" aria-controls="dropdownLikeMe">Ils vous ont liké <i class="fas fa-arrow-circle-down"></i></a>
    <div class="collapse" id="dropdownLikeMe">
        <table class="table" style="text-align: center">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>

    <a class="btn hashtag" style="margin-bottom: 10px;" data-toggle="collapse" href="#dropdownLikeThem"  aria-expanded="false" aria-controls="dropdownLikeThem">Vous les avez liké <i class="fas fa-arrow-circle-down"></i></a>
    <div class="collapse" id="dropdownLikeThem">
        <table class="table" style="text-align: center">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>




<%- include('../partial/footer')%>