<%- include('../partial/head')%>
<%- include('../partial/header')%>

<style>
    .table td {
        padding-bottom: 0.55rem;
        padding-top: 0.55rem;
    }

    tr:nth-child(even) {background-color: #f2f2f2;}
</style>

<h1 style="text-align: center; margin-top: 1.5rem; margin-bottom: 1.5rem"><i class="fas fa-history"></i>  Vos notifications</h1>

<div id="tablesNotif" style="display: grid;">

        <table class="table" style="text-align: center">
            <tbody>
            <%if (notif.length === 0) {%>
                <td>Vous ne possédez aucune notification...</td>
            <%} else {%>
                <% const options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' }; %>
            <%for (var j = 0; j < notif.length; j++) {%>

            <%if (notif[j].flag === 1) {%>
            <tr>
                <td style="vertical-align: middle"><i class="fas fa-thumbs-up"></i></td>
                <td style="vertical-align: middle"><a href="user/<%=notif[j].from%>"><%=notif[j].username%></a> vous a liké</td>
                <td style="vertical-align: middle"><img src="<%=notif[j].profil%>" style="height: 50px; width: 50px; max-height: 50px; max-width: 50px; border-radius: 50%; object-fit: cover;"></td>
                <td style="vertical-align: middle">le <%=notif[j].date.toLocaleDateString('fr-FR', options)%></td>
            </tr>

            <%}else if (notif[j].flag === 2) {%>
            <tr>
                <td style="vertical-align: middle"><i class="fas fa-heartbeat"></i></td>
                <td style="vertical-align: middle">Vous avez matché avec <a href="user/<%=notif[j].from%>"><%=notif[j].username%></a></td>
                <td style="vertical-align: middle"><img src="<%=notif[j].profil%>" style="height: 50px; width: 50px; max-height: 50px; max-width: 50px; border-radius: 50%; object-fit: cover;"></td>
                <td style="vertical-align: middle">le <%=notif[j].date.toLocaleDateString('fr-FR', options)%></td>
            </tr>

            <%}else if (notif[j].flag === 3) {%>
            <tr>
                <td style="vertical-align: middle"><i class="fas fa-thumbs-down"></i></td>
                <td style="vertical-align: middle"><a href="user/<%=notif[j].from%>"><%=notif[j].username%></a> ne vous like plus</td>
                <td style="vertical-align: middle"><img src="<%=notif[j].profil%>" style="height: 50px; width: 50px; max-height: 50px; max-width: 50px; border-radius: 50%; object-fit: cover;"></td>
                <td style="vertical-align: middle">le <%=notif[j].date.toLocaleDateString('fr-FR', options)%></td>
            </tr>

            <%}else if (notif[j].flag === 4) {%>
            <tr>
                <td style="vertical-align: middle"><i class="fas fa-sad-tear"></i></td>
                <td style="vertical-align: middle">Vous ne matchez plus avec <a href="user/<%=notif[j].from%>"><%=notif[j].username%></a></td>
                <td style="vertical-align: middle"><img src="<%=notif[j].profil%>" style="height: 50px; width: 50px; max-height: 50px; max-width: 50px; border-radius: 50%; object-fit: cover;"></td>
                <td style="vertical-align: middle">le <%=notif[j].date.toLocaleDateString('fr-FR', options)%></td>
            </tr>

            <%}else if (notif[j].flag === 5) {%>
            <tr>
                <td style="vertical-align: middle"><i class="fas fa-eye"></i></td>
                <td style="vertical-align: middle"><a href="user/<%=notif[j].from%>"><%=notif[j].username%></a> a visité votre profil</td>
                <td style="vertical-align: middle"><img src="<%=notif[j].profil%>" style="height: 50px; width: 50px; max-height: 50px; max-width: 50px; border-radius: 50%; object-fit: cover;"></td>
                <td style="vertical-align: middle">le <%=notif[j].date.toLocaleDateString('fr-FR', options)%></td>
            </tr>
            <%}}}%>
            </tbody>
        </table>
</div>

<%- include('../partial/footer')%>