<%- include('../partial/head')%>
<%- include('../partial/header')%>

<div class="media">
    <img src="https://i.pinimg.com/originals/ee/12/72/ee1272ce146c4c5c5e5c30163a20302d.jpg" alt="Stephanie De Monaco" class="rounded float-left profile-pic">
    <div class="media-body">
		<button type="button" class="btn btn-primary popularity">
			Popularité <span class="badge badge-light"><%=user[0]['popularity']%>%</span>
	  </button>
		<h2 class="mt-0"><%=user[0]['username']%></h2>
        <div class="row">
            <div class="col-sm">
				<% if (user[0]['gender'] == null) { %>
					Genre non renseigne,
				<%} else { %>
					<%=user[0]['gender']%>,
				<% } %>
				<% if (user[0]['orientation'] == null) { %>
					orientation non renseignee
				<%} else { %>
					<%=user[0]['orientation']%>
				<% } %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<% if (user[0]['birth'] == null) { %>
					Date de naissance manquante
				<%} else { %>
					<%= userage %> ans
				<% } %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				À 7km
			</div>
		</div>
		<div class="description">
			<% if (user[0]['description'] == null) { %>
				Description manquante
			<%} else { %>
				<%=user[0]['description']%>
			<% } %>
		</div>

		<% if (usertags != "") { 
			for (var i=0; i<usertags.length; i++){ %>
				<a class="btn btn-primary hashtag" href="#" role="button">#<%=usertags[i]['tag']%></a>
		<% }} %>
	</div>
</div>	

<div class="row">
		<div class="col-sm">
			<img src="http://www.journeedelafemme.com/wp-content/uploads/2018/05/pexels-photo-733872.jpeg" class="img-thumbnail carroussel" alt="...">
		</div>
		<div class="col-sm">
			<img src="https://www.cadre-dirigeant-magazine.com/wp-content/uploads/2016/02/Femme-m%C3%A8re-et-manager-6-astuces-pour-gagner-en-s%C3%A9r%C3%A9nit%C3%A9CDM.jpg" class="img-thumbnail carroussel" alt="...">
		</div>
		<div class="col-sm">
				<img src="http://www.journeedelafemme.com/wp-content/uploads/2018/05/pexels-photo-733872.jpeg" class="img-thumbnail carroussel" alt="...">
			</div>
		<div class="col-sm">
				<img src="https://www.cadre-dirigeant-magazine.com/wp-content/uploads/2016/02/Femme-m%C3%A8re-et-manager-6-astuces-pour-gagner-en-s%C3%A9r%C3%A9nit%C3%A9CDM.jpg" class="img-thumbnail carroussel" alt="...">
		</div>

</div>

<% include ../partial/footer.ejs%>