<%- include('../partial/head')%>
<%- include('../partial/header')%>

<%- messages('partial/message', locals) %>

<!-- Modal -->
<% if (user && user[0] && (user[0].birth === null || user[0].birth === '' ||user[0].gender == null || user[0].gender === '' || user[0].orientation == null || user[0].orientation === '' || user[0].description === null || user[0].description === '')) { %>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Informations Personnelles</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modal-body">
					<p style="text-align: center"><%=user[0].firstname%>, Afin de finaliser votre profil</p>
					<input name="displayUser" type="hidden" id="displayUser" value="<%=user[0].username%>">
					<p style="text-align: center">Merci de renseigner les champs restés vides</p>
					<form>
						<div class="form-group">
							<label for="gender" class="col-form-label">Votre Genre</label>
							<input name="gender" type="text" class="form-control" id="gender" value="<%=user[0].gender%>">
						</div>
						<div class="form-group">
							<label for="birthdate" class="col-form-label">Votre Date de Naissance</label>
							<input name="birthdate" type="text" class="form-control" id="birthdate" value="<%=user[0].birth%>">
						</div>
						<div class="form-group">
							<label for="sexOrientation" class="col-form-label">Votre Orientation Sexuelle</label>
							<input name="orientation" type="text" class="form-control" id="sexOrientation" value="<%=user[0].orientation%>">
						</div>
						<div class="form-group">
							<label for="description" class="col-form-label">Description</label>
							<textarea name="description" class="form-control" id="description"><%=user[0].description%></textarea>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button id="saveProfil" type="submit" class="btn login-btn">Confirmer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<% } %>

<div class="media">
    <img src="https://i.pinimg.com/originals/ee/12/72/ee1272ce146c4c5c5e5c30163a20302d.jpg" alt="Stephanie De Monaco" class="rounded float-left profile-pic">
    <div class="media-body">
		<button type="button" class="btn btn-primary popularity">
			Popularité <span class="badge badge-light"><%=user[0]['popularity']%>%</span>
	  </button>
		<h2 class="mt-0" id="username"><%=user[0]['username']%></h2>
        <div class="row">
            <div class="col-sm" id=genderOrientation>
				<% if (user[0]['gender'] === null) { %>
					Genre non renseigne,
				<%} else { %>
					<%=user[0]['gender']%>,
				<% } %>
				<% if (user[0]['orientation'] === null) { %>
					orientation non renseignee
				<%} else { %>
					<%=user[0]['orientation']%>
				<% } %>
			</div>
		</div>
		<div class="row" id="age">
			<div class="col-sm">
				<% if (user[0]['birth'] == null) { %>
					Date de naissance manquante
				<%} else { %>
					<%= userage %> ans
				<% } %>
			</div>
		</div>
		<div class="row" id="location">
			<div class="col-sm">
				À 7km
			</div>
		</div>
		<div class="description" id="desc">
			<% if (user[0]['description'] == null) { %>
				Description manquante
			<%} else { %>
				<%=user[0]['description']%>
			<% } %>
		</div>

		<% if (usertags != "") { 
			for (var i=0; i<usertags.length; i++){ %>
				<a class="btn btn-primary hashtag" href="#" role="button">#<%=usertags[i]['tag']%></a>
		<% }} %>
	</div>
</div>	

<div class="row">
		<div class="col-sm">
			<img src="http://www.journeedelafemme.com/wp-content/uploads/2018/05/pexels-photo-733872.jpeg" class="img-thumbnail carroussel" alt="...">
		</div>
		<div class="col-sm">
			<img src="https://www.cadre-dirigeant-magazine.com/wp-content/uploads/2016/02/Femme-m%C3%A8re-et-manager-6-astuces-pour-gagner-en-s%C3%A9r%C3%A9nit%C3%A9CDM.jpg" class="img-thumbnail carroussel" alt="...">
		</div>
		<div class="col-sm">
				<img src="http://www.journeedelafemme.com/wp-content/uploads/2018/05/pexels-photo-733872.jpeg" class="img-thumbnail carroussel" alt="...">
			</div>
		<div class="col-sm">
				<img src="https://www.cadre-dirigeant-magazine.com/wp-content/uploads/2016/02/Femme-m%C3%A8re-et-manager-6-astuces-pour-gagner-en-s%C3%A9r%C3%A9nit%C3%A9CDM.jpg" class="img-thumbnail carroussel" alt="...">
		</div>

</div>

<% include ../partial/footer.ejs%>

<script>
	$(function () {

        $(document).ready(function() {

            $('#exampleModalCenter').modal('show');
            $('form').submit(function(event) {

                $('.form-group').removeClass('has-error'); // remove the error class
                $('.help-block').remove(); // remove the error text

                // get the form data
                // there are many ways to get this data using jQuery (you can use the class or id also)
                var formData = {
                    'gender'              : $('input[name=gender]').val(),
                    'birthdate'             : $('input[name=birthdate]').val(),
                    'orientation'    : $('input[name=orientation]').val(),
                    'description'    : $('textarea[name=description]').val()
                };

                // process the form
                $.ajax({
                    type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url         : '/profil', // the url where we want to POST
                    data        : formData, // our data object
                    dataType    : 'json', // what type of data do we expect back from the server
                    encode		: true
                })
                // using the done promise callback
                    .done(function(data) {

                        // log data to the console so we can see
                        console.log(data);

                        // here we will handle errors and validation messages
                        if (data.errors) {
                            console.log(data.errors.length);
                            for (var i = 0; i < data.errors.length; i++) {
                                $('#modal-body').addClass('has-error'); // add the error class to show red input
                                $('#modal-body').append('<div class="help-block alert alert-warning">' + data.errors[i].msg + '</div>'); // add the actual error message under our input
							}
                        } else {
                            if (data.user) {
                                $('#exampleModalCenter').modal('hide');
                                const genderOrientation = document.getElementById('genderOrientation');
                                const description = document.getElementById('desc');
                                genderOrientation.innerHTML = data.user.gender + ', ' + data.user.orientation;
                                description.innerHTML = data.user.description;

                                const flash = document.getElementsByClassName('alert alert-dark alert-dismissible');
                                flash[0].innerHTML = 'Votre profil RoooCool a été créé avec succès';
                            }
                        }
                    });
                // stop the form from submitting the normal way and refreshing the page
                event.preventDefault();
            });
        });
	});
</script>
