<h1>REGISTRATION COMPLETED</h1>
<h2>An email to confirm your account is coming: <%=email%></h2>

<p>See below your account details:<br>
Firstname: <%=firstname%><br>
    Lastname: <%=lastname%><br>
    Email: <%=email%><br>
    Username: <%=username%><br>
    Password: <%=password%><br>
</p>