<% if(!index) {%>
	<%- include('../partial/head')%>
	<%- include('../partial/header')%>

	<ul class="nav nav-pills">
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trier par</a>
		  <div class="dropdown-menu">
			<a class="dropdown-item" id="sort-age">Age</a>
			<a class="dropdown-item" id="sort-loc">Localisation</a>
			<a class="dropdown-item" id="sort-pop">Popularite</a>
		</li>
	  </ul>

<%}%>

<div class="scroll">
	<% var x = index;
	var i = 0;
	while (i < 6){ 
		if (i===0 || i===3){ %>
			<div class="row">
		<%}%>
		<div class="col-sm">
			<% if (users[x]){%>
				<div class="img-pop">
					<img src="https://i.pinimg.com/originals/ee/12/72/ee1272ce146c4c5c5e5c30163a20302d.jpg" alt="Stephanie De Monaco" class="rounded profile-pic search-pic">
					<%if (users[x]['popularity'] < 50){ %>
						<button type="button" class="btn btn-primary popularity-search-1"><%=users[x]['popularity']%>%</button>
					<% } else if (users[x]['popularity'] < 85) { %>
						<button type="button" class="btn btn-primary popularity-search-2"><%=users[x]['popularity']%>%</button>
					<% } else { %>
						<button type="button" class="btn btn-primary popularity-search-3"><%=users[x]['popularity']%>%</button>
					<%}%>
				</div>
				<h5><%=users[x]['username']%></h5>
				<h6>
					<% if (users[x]['gender'] === null) { %>
						Genre non renseigne,
					<%} else { %>
						<%=users[x]['gender']%>,
					<% } %>
					<% if (users[x]['orientation'] === null) { %>
						orientation non renseignee
					<%} else { %>
						<%=users[x]['orientation']%>
					<% } %>
				</h6>
				<h6>
					<% if (users[x]['description'] == null) { %>
						Description manquante
					<%} else { %>
						<%=users[x]['description']%>
					<% } %>
				</h6>
			<%} %>
		</div>
		<% if (x===2 || x===5){ %>
			</div>
		<%}
		x++;
		i++;	
	}
%>

</div>


<% if (index == 0){ %>
	<p id="loading" style="display:none">
			<img style="width:40px; margin-left:50%" src="https://ubisafe.org/images/transparent-gif-loading-1.gif" alt="Loading…" />
	</p>

<script src="./public/js/scroll.js"></script>
<script src="./public/js/sort.js"></script>

<% } %>


<% include ../partial/footer.ejs%>