<% if(!index) {%>
	<%- include('../partial/head')%>
	<%- include('../partial/header')%>

<!-- Filters -->

<p>Filtres :</p>

<!-- <div>
  <input type="range" id="age-range" name="volume"
         min="0" max="10">
  <label for="volume">Age</label>
</div>

<div>
  <input type="range" id="pop-range" name="cowbell" 
         min="0" max="100" step="10">
  <label for="cowbell">Popularité</label>
</div> -->

<!-- Sort -->

<form action="/search" method="get">
	<ul class="nav nav-pills">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trier par</a>
			<div class="dropdown-menu">
				<input type="submit" class="dropdown-item" name="sort" value=" ORDER by `birth`">
				<input type="submit" class="dropdown-item" name="sort" value=" ORDER by loc">
				<input type="submit" class="dropdown-item" name="sort" value=" ORDER by `popularity`">
			</div>
		</li>
	</ul>
</form>

<%}%>

<!-- Results -->

<div class="scroll">
	<% var x = index;
	var i = 0;
	while (i < 6){ 
		if (i===0 || i===3){ %>
			<div class="row">
		<%}%>
		<div class="col-sm search-col">
			<% if (users[x]){%>
				<div class="img-pop">
					<div class="containerPic">
						<img src="<%=users[x]['profil']%>" title="<%=users[x]['username']%>" alt="<%=users[x]['username']%>" class="profile-pic search-pic">
					</div>
					<% if (users[x]['popularity'] >= 0){
						if (users[x]['popularity'] < 50){ %>
							<button type="button" class="btn btn-primary popularity-search-1"><%=users[x]['popularity']%>%</button>
						<% } else if (users[x]['popularity'] < 85) { %>
							<button type="button" class="btn btn-primary popularity-search-2"><%=users[x]['popularity']%>%</button>
						<% } else { %>
							<button type="button" class="btn btn-primary popularity-search-3"><%=users[x]['popularity']%>%</button>
						<%}
					} else {
						if (users[x]['popularity'] > -50){ %>
							<button type="button" class="btn btn-primary popularity-search-4"><%=users[x]['popularity']%>%</button>
						<% } else if (users[x]['popularity'] > -85) { %>
							<button type="button" class="btn btn-primary popularity-search-5"><%=users[x]['popularity']%>%</button>
						<% } else { %>
							<button type="button" class="btn btn-primary popularity-search-6"><%=users[x]['popularity']%>%</button>
						<%}
					}
			
					%>
					<i class="fas fa-heart matched" id="matched<%=users[x]['id']%>" title="c'est un match !" style="display:none"></i>
					<i class="fas fa-thumbs-up liked" id="liked<%=users[x]['id']%>" title="Ce membre vous a liké !" style="display:none"></i>
				</div>

				<span><i class="far fa-thumbs-up picto" id="oklikeSearch-<%=users[x]['id']%>" style="text-align: center;" onclick="like(this.id)">Like</i></span>
				<span><i class="fas fa-thumbs-up picto" id="unlikeSearch-<%=users[x]['id']%>" style="text-align: center; display: none;" onclick="unlike(this.id)">Unlike</i></span>

				<h5><%=users[x]['username']%></h5>
				<h6>
					<% if (users[x]['gender'] === null) { %>
						Genre non renseigne,
					<%} else { %>
						<%=users[x]['gender']%>,
					<% } %>
					<% if (users[x]['orientation'] === null) { %>
						orientation non renseignee
					<%} else { %>
						<%=users[x]['orientation']%>
					<% } %>
				</h6>
				<h6>
					<% if (users[x]['description'] == null) { %>
						Description manquante
					<%} else { %>
						<%=users[x]['description']%>
					<% } %>
				</h6>

				<!-- <form id="likes-report">
					<button type="submit" value="like<%=users[x]['id']%>" style="background:none; border:none"><i class="far fa-thumbs-up" id="likeSearch-<%=users[x]['id']%>" style="text-align: center;"></i></button>
					<button type="submit" value="unlike<%=users[x]['id']%>" style="background:none; border:none" id="button"><i class="fas fa-thumbs-up" id="likedSearch-<%=users[x]['id']%>" style="text-align: center; display: none;"></i></button>
				</form> -->

<!-- Like and match check -->

			<% var a = 0;
			var like = 0;
			var liked = 0;
			while (likes[a]){
				if (users[x]['id'] === likes[a]['user_id']) {
					like = 1;
				}
				if (users[x]['id'] === likes[a]['user_liked']){
					liked = 1;
				}
				a++;
			}
			if (like === 1 && liked === 1){ %>
				<script>
					// getscript
					document.getElementById("matched<%=users[x]['id']%>").style.display = "flex";
					document.getElementById("oklikeSearch-<%=users[x]['id']%>").style.display = "none";
					document.getElementById("unlikeSearch-<%=users[x]['id']%>").style.display = "flex";
				</script>
			<% } else if (like === 1 && liked === 0){ %>
				<script>
					document.getElementById("liked<%=users[x]['id']%>").style.display = "flex";
				</script>
			<% } else if (liked === 1 && like === 0) { %>
				<script>
					document.getElementById("oklikeSearch-<%=users[x]['id']%>").style.display = "none";
					document.getElementById("unlikeSearch-<%=users[x]['id']%>").style.display = "flex";
				</script>
			<% }
		} %>
		</div>
		<% if (x===2 || x===5){ %>
			</div>
		<% }  
		x++;
		i++;
	}
%>

</div>

<!-- Loading animation -->

<% if (index == 0){ %>
	<p id="loading" style="display:none">
			<img style="width:40px; margin-left:50%" src="https://ubisafe.org/images/transparent-gif-loading-1.gif" alt="Loading…" />
	</p>

<!-- Scripts -->

<script src="./public/js/scroll.js"></script>
<!-- <script src="./public/js/sort.js"></script> -->
<script src="./public/js/like.js"></script>

<% } %>


<% include ../partial/footer.ejs%>