<div class="row">
		<div class="col-sm">
		<% var i = index;
			if (users[i]){%>
				<%=users[i]['username']%>
				Voici i : <%= i%>
				<%} %>
		</div>
		<div class="col-sm">
		<% i++;
		if (users[i]){%>
				<%=users[i]['username']%>
				Voici i : <%= i%>
		</div>
		<%} %> 
		<div class="col-sm">
		<% i++;
		if (users[i]){%>
				<%=users[i]['username']%>
				Voici i : <%= i%>
		<%}  %>
		</div>
</div>