<%- include('../partial/head')%>
<%- include('../partial/header')%>

<div class="scroll">

<div class="row">
	<% for (var x=0; x<3; x++){
		if (users[x]){%>
		<div class="col-sm">
		    <img src="https://i.pinimg.com/originals/ee/12/72/ee1272ce146c4c5c5e5c30163a20302d.jpg" alt="Stephanie De Monaco" class="rounded float-left profile-pic">
			<h5><%=users[x]['username']%></h5>
			<h6>
				<% if (users[x]['gender'] === null) { %>
					Genre non renseigne,
				<%} else { %>
					<%=users[x]['gender']%>,
				<% } %>
				<% if (users[x]['orientation'] === null) { %>
					orientation non renseignee
				<%} else { %>
					<%=users[x]['orientation']%>
				<% } %>
			</h6>
			<h6>
				<% if (users[x]['description'] == null) { %>
					Description manquante
				<%} else { %>
					<%=users[x]['description']%>
				<% } %>
			</h6>
		</div>
	<%}} %>
</div>


</div>


<p id="loading" style="display:none">
		<img style="width:40px; margin-left:50%" src="https://ubisafe.org/images/transparent-gif-loading-1.gif" alt="Loading…" />
</p>





<script>
	var i=3;

	$(document).ready(function() {
		var win = $(window);
		win.scroll(function() {
			if ($(document).height() - win.height() == win.scrollTop()) {
				$('#loading').show();	
				$.ajax({
					method: "GET",
					data: {
						index:i
					},
					url: 'search-infinite',
					success: function(html) {
						$('.scroll').append(html);
						$('#loading').hide();
					},
					error: function() {
						$('#loading').hide();
					}
				});
				i=i+3;
			}
		});
	});
</script>
		




<% include ../partial/footer.ejs%>