<%- include('../partial/head')%>
<%- include('../partial/header')%>

<%- messages('partial/message', locals) %>

<div class="media">
    <img src="/<%=user[0]['profil']%>" alt="profilPic" class="float-left profile-pic" height="220px" width="220px" id="avatarPic">
    <div class="media-body">
        <div style="display: flex">
            <button type="button" class="btn btn-primary popularity">
                Popularité <span class="badge badge-light"><%=user[0]['popularity']%>%</span>
            </button>
            <span><i class="far fa-thumbs-up" style="font-size: xx-large; margin-left: 10px"></i></span>
        </div>
        <h2 class="mt-0" id="userDetails"><%=user[0]['username']%> (<%=user[0]['firstname']%> <%=user[0]['lastname']%>)</h2>

        <div class="row">
            <div class="col-sm" id=genderOrientation>
                <% if (user[0]['gender'] === null) { %>
                    Genre non renseigne,
                <%} else { %>
                <%=user[0]['gender']%>,
                <% } %>
                <% if (user[0]['orientation'] === null) { %>
                    Orientation non renseignee
                <%} else { %>
                <%=user[0]['orientation']%>
                <% } %>
            </div>
        </div>
        <div class="row" id="age">
            <div class="col-sm" id="displayAge">
                <% if (user[0]['birth'] == null) { %>
                    Date de naissance manquante
                <%} else { %>
                    <%= userage %> ans
                <% } %>
            </div>
        </div>
        <div class="row" id="location">
            <div class="col-sm">
                À 7km
            </div>
        </div>
        <div class="description" id="desc">
            <% if (user[0]['description'] == null) { %>
                Description manquante
            <%} else { %>
            <%=user[0]['description']%>
            <% } %>
        </div>

        <div id="tags">
            <% if (usertags != "") {
            for (var i=0; i<usertags.length; i++){ %>
            <a class="btn btn-primary hashtag" href="#" role="button">#<%=usertags[i]['tag']%></a>
            <% }} %>
        </div>
    </div>
</div>
<br>
<div class="row" id="rowPic" style="justify-content: left; margin-left: 4%;">

    <% if (userphotos !== []) {
    for (var j = 0; j < userphotos.length; j++) { %>
    <div class="col-sm">
        <img src="/<%=userphotos[j]['photo']%>" class="img-thumbnail carroussel" alt="...">
    </div>
    <% }} %>

</div>

<% include ../partial/footer.ejs%>